{% extends 'base.html.twig' %}

{% block title %}Hello EquipmentController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css">
{% endblock %}

{% block body %}
    <!-- Montrer que l'utilisateur est connecté -->
    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p> Vous êtes connecté en tant que {{ app.user.email }} </p>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %} #}
    
    <h1>Liste des équipements</h1>
    {# <a href="{{ path('app_equipment_create') }}" class="btn btn-primary">Ajouter un équipement</a> #}
    <div class="container">
        <table class="table table-striped table-bordered" id="myTable">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Last Movement</th>
                {# <th>Actions</th> #}
            </thead>
            <tbody>
            {% for equipment in equipments %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td>{{ equipment.name }}</td>
                    <td>{{ equipment.category.name }}</td>
                    <td>{{ equipment.price|number_format(2, '.', ',') }}</td>
                    <td>{{ equipment.lastMovement|date('d/m/Y H:i') }}</td>
                    <td>
                        {# <a href="{{ path('app_equipment_update', { 'id': equipment.id }) }}" class="btn btn-success">Modifier</a>
                        <a href="{{ path('app_equipment_delete', { 'id': equipment.id }) }}" class="btn btn-warning">Supprimer</a> #}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
{% endblock %}
